<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Registration System</title>
    <link rel="stylesheet" href="{% static 'eventapp/style.css' %}">
</head>
<body>
    <header>
        <img src="https://efuturex.com/static/assets/img/EFUTUREX-Logo.png" alt="Event Registration System Logo" id="logo">
        <nav>
            <a href="#" class="nav-link">Home</a>
            <!-- <a href="#" class="nav-link">Login</a>
            <a href="#" class="nav-link">Register</a> -->
        </nav>
    </header>

    <h1>Thank you form Registering!!</h1>

    <footer>
        <p>&copy; 2023 Event Registration System</p>
    </footer>
</body>
</html>